@page
@model Blog.Pages.Admin.Articles.ArticlesModel
@{
    ViewData["Title"] = "Published articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-section">
    <div class="inner-box" style="display: grid; font-size: 12px;">
        <div class="center-section" id="userList" style="display: grid;">
            <h2>Published articles</h2>
            <br />
            <div style="display: grid; grid-template-columns: 5% 8% 87%">
                @{
                    foreach (var article in Model.Model.Articles)
                    {
                        <span style="grid-column: 1;"><a href="@Url.Page($"/Admin/Articles/Update", new { id = article.ArticleId })" class="black-link">Edit</a></span>
                        <span style="grid-column: 2;"><a href="@Url.Page($"/Admin/Articles/Delete", new { id = article.ArticleId })" class="black-link">Delete</a>&nbsp;&nbsp;&nbsp;</span>
                        <span style="grid-column: 3;"><b>Published</b>: @article.DatePublished.ToString("d"), <b>Author</b>: @article.Author, <b>Title</b>: @article.Title</span>
                     }
                }
                <br/>
            </div>
        </div>
    </div>
</div>