@page "{categoryId}"
@model Blog.Pages.Article.Category.IndexModel
@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles from @Model.CategoryId category</h2>

<div class="inner-section">
    @{
        foreach (var article in Model.Model.Articles)
        {
            <div class="inner-box">
                <div class="article-header">
                    <div class="title">
                        @article.Title
                    </div>
                    <div class="author-category">
                        <div id="author">
                            Written by: <b>@article.Author</b>
                        </div>
                    </div>
                    <div class="date">
                        @article.DatePublished.ToString("dd MMMM yyyy")
                    </div>
                </div>
                <div class="article-image"></div>
                <div class="center-section">
                    <p>
                        @article.Content
                    </p>
                    <div class="comments-link">
                        <a href="@Url.Page($"/Article/Index", new { id = article.ArticleId })">Comments</a>
                    </div>
                </div>
            </div>
            <br />
        }
    }
</div>